/* Fix label font family, weight, and letter spacing */
.label {
	font-family: var(--font-family);
	font-weight: var(--md-sys-typescale-label-large-weight);
	letter-spacing: var(--md-sys-typescale-label-large-tracking);
}

/* Modify outline if it exists */
.outline {
	border: 1px solid var(--md-sys-color-outline-variant);
}

/* Change icon and label color for outline chips */
.outline ~ #button .icon {
	/* Cannot reference primary directly, overwritten by host */
	color: var(--primary-color);
	fill: var(--primary-color);
}
.outline ~ #button .label {
	color: var(--md-sys-color-on-surface);
}

/* State layer colors for outline chips */
.outline ~ md-ripple {
	--md-ripple-hover-color: var(--md-sys-color-on-surface);
	--md-ripple-pressed-color: var(--md-sys-color-on-surface);
}

/* Fix filled container color, but not when given an explicit color */
.filled {
	background-color: var(--md-sys-color-secondary-container);
}
:host(.red) .filled {
	background-color: var(--label-badge-red, #df4c1e);
}
:host(.green) .filled {
	background-color: var(--label-badge-green, #0da035);
}
:host(.yellow) .filled {
	background-color: var(--label-badge-yellow, #f4b400);
}
