/* Make borders circular and change ripple color */
#button {
	border-radius: var(--button-height);
	--mdc-ripple-color: var(--mdc-theme-primary);
}

/* Increase horizontal padding for outline buttons */
:host([outlined]) {
	--mdc-button-horizontal-padding: 24px;
}

/* Use box-shadow hack to make outlined buttons look better on desktop */
:host([outlined]:not([disabled])) #button {
	box-shadow:
		0 0 1px 0 var(--mdc-button-outline-color) inset,
		0 0 1px 0 var(--mdc-button-outline-color);
}

/* Fix disabled button color */
:host([disabled]) {
	background-color: transparent;
}

/* Fix success/error overflow button border radius */
:host {
	border-radius: var(--button-height);
	overflow: hidden;
}
