/* Restore divider color */
:host {
	--divider-color: var(--md-sys-color-outline-variant);
}

/* Elevated cards (default) */
:host(.elevated) {
	--ha-card-background: var(--md-sys-color-surface-container-low);
	--ha-card-box-shadow: var(--md-sys-elevation-level1);
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
}

/* Filled cards */
:host(.filled) {
	--ha-card-background: var(--md-sys-color-surface-container-highest);
	--ha-card-box-shadow: none;
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
}

/* Outlined cards */
:host(.outlined) {
	--ha-card-background: var(--md-sys-color-surface);
	--ha-card-box-shadow: none;
	--ha-card-border-width: 1px;
	--ha-card-border-color: var(--md-sys-color-outline-variant);
}

/* Transparent cards */
:host(.transparent) {
	--ha-card-background: transparent;
	--ha-card-box-shadow: none;
	--ha-card-border-width: 0px;
	--ha-card-border-color: transparent;
}
