/* Restore divider color */
:host {
	--divider-color: var(--md-sys-color-outline-variant);
}

/* Filled cards */
:host(.filled) {
	background: var(--md-sys-color-surface-container-highest);
	box-shadow: none;
}

/* Outlined cards */
:host(.outlined) {
	background: var(--md-sys-color-surface);
	outline: 1px solid var(--md-sys-color-outline-variant);
	box-shadow: none;
}
