/* Fix add card button position  */
button[aria-label='Add card'] {
	bottom: calc(var(--footer-height) + env(safe-area-inset-bottom));
}

/* Decrease border radius, increase height, use primary container colors */
.mdc-fab {
	height: 56px;
	border-radius: var(--md-sys-shape-corner-large);
	background-color: var(--md-sys-color-primary-container);
}
.mdc-fab__label,
.mdc-fab__icon {
	color: var(--md-sys-color-on-primary-container);
}
.ripple {
	border-radius: var(--md-sys-shape-corner-large);
}
