/* Scale and translate handle on hover */
.handle {
	background: var(--ha-dialog-surface-background);
	transition:
		scale var(--md-sys-motion-duration-short4)
			var(--md-sys-motion-easing-standard),
		translate var(--md-sys-motion-duration-short4)
			var(--md-sys-motion-easing-standard);
}
:host(#columns:focus-visible) .handle,
:host(#columns:active) .handle {
	scale: 0.5 1;
	translate: -4px 0;
}
:host(#rows:focus-visible) .handle,
:host(#rows:active) .handle {
	scale: 1 0.5;
	translate: 0 -4px;
}

/* Change background and dot colors */
.dot {
	background-color: var(--md-sys-color-on-primary);
}
.background {
	background: var(--md-sys-color-secondary-container);
}

/* Change colors of, position, and increase size of value label */
.tooltip {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	width: 48px;
	padding: 0;
	border-radius: var(--md-sys-shape-corner-full);
	background-color: var(--md-sys-color-inverse-surface);
	color: var(--md-sys-color-inverse-on-surface);
}
.tooltip.top {
	translate: 0 -4px;
}
.tooltip.left {
	translate: -4px 0;
}
