/* Change background color */
.container::before {
	background: var(--md-sys-color-surface-container-high);
}

/* Headline font */
#headline ::slotted(*) {
	font-size: var(--md-sys-typescale-headline-small-size);
	font-weight: var(--md-sys-typescale-headline-small-weight);
	line-height: var(--md-sys-typescale-headline-small-line-height);
	letter-spacing: var(--md-sys-typescale-headline-small-tracking);
}

/* Label font */
.content ::slotted(*) {
	font-size: var(--md-sys-typescale-body-medium-size);
	font-weight: var(--md-sys-typescale-body-medium-weight);
	line-height: var(--md-sys-typescale-body-medium-line-height);
	letter-spacing: var(--md-sys-typescale-body-medium-tracking);
}
