/* Menu title font */
.menu {
	height: 56px;
	font-size: var(--md-sys-typescale-title-small-size);
	font-weight: var(--md-sys-typescale-title-small-weight);
	line-height: var(--md-sys-typescale-title-small-line-height);
	letter-spacing: var(--md-sys-typescale-title-small-tracking);
}

/* Remove scrollbar */
.ha-scrollbar {
	scrollbar-width: none;
}
::-webkit-scrollbar {
	width: 0;
}

/* Modify sidebar item size and animate background when expanding/retracting */
ha-md-list-item {
	transition: width var(--md-sys-motion-duration-short4)
		var(--md-sys-motion-easing-standard);
	height: 48px;
	margin: 0 4px;
	--sidebar-item-state-layer-shape: var(--md-sys-shape-corner-full);
}

/* Prevent text jumpiness on opening sidebar */
.item-text {
	overflow: hidden;
	white-space: nowrap;
	line-height: var(--md-sys-typescale-label-large-line-height);
	letter-spacing: var(--md-sys-typescale-label-large-tracking);
}

/* Current destination font weight */
ha-md-list-item.selected .item-text {
	font-weight: var(--md-sys-typescale-label-medium-weight-prominent);
}

/* Change background of current destination icon and add scale transition */
ha-md-list-item::before {
	content: '';
	border-radius: var(--sidebar-item-state-layer-shape);
	transition: transform var(--md-sys-motion-duration-short4)
		var(--md-sys-motion-easing-standard);
	transform: scaleX(0);
}
ha-md-list-item.selected::before {
	border-radius: var(--sidebar-item-state-layer-shape);
	background-color: var(--sidebar-selected-background);
	opacity: 1;
	transform: scaleX(1);
}

/* Fix bottom divider color */
.divider {
	--divider-color: var(--md-sys-color-outline-variant);
}

/* Fix rail sidebar badge color, size, and position */
.badge[slot='start'] {
	color: var(--on-error-color);
	background-color: var(--error-color);
	font-weight: var(--md-sys-typescale-label-large-weight);
	height: 8px;
	min-width: 8px;
	padding: 4px;
	top: 8px;
	left: 50%;
	z-index: 2;
}

/* Use sidebar text color with no background on drawer badges */
.badge[slot='end'] {
	color: var(--sidebar-text-color);
	background-color: transparent;
}
.selected .badge[slot='end'] {
	color: var(--sidebar-selected-text-color);
}
