/* Make sidebar width an even number */
ha-sidebar {
	width: 56px;
}

/* Menu title font */
.menu {
	height: 56px;
	font-size: var(--md-sys-typescale-title-small-size);
	font-weight: var(--md-sys-typescale-title-small-weight);
	line-height: var(--md-sys-typescale-title-small-line-height);
	letter-spacing: var(--md-sys-typescale-title-small-tracking);
}

/* Remove scrollbar */
.ha-scrollbar {
	scrollbar-width: none;
}
::-webkit-scrollbar {
	width: 0;
}

/* Animate background when expanding/retracting sidebar */
paper-icon-item {
	transition: width var(--md-sys-motion-duration-short4)
		var(--md-sys-motion-easing-standard);
	height: 48px;
	margin: 0 4px;
	padding: 0 12px;
}

/* Display current destination text above background and prevent jumpiness on opening*/
.item-text {
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	line-height: var(--md-sys-typescale-label-large-line-height);
	letter-spacing: var(--md-sys-typescale-label-large-tracking);
}
ha-icon,
ha-svg-icon {
	z-index: 2;
}

/* Change background of current destination icon with transition */
paper-icon-item::before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	transition: transform var(--md-sys-motion-duration-short4)
		var(--md-sys-motion-easing-standard);
	left: 0;
	right: 0;
	border-radius: var(--md-sys-shape-corner-full);
	background: var(--sidebar-selected-background);
	opacity: 1;
	transform: scaleX(0);
}
.iron-selected paper-icon-item::before {
	transform: scaleX(1);
}

/* Destination state layers */
paper-icon-item::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: var(--md-sys-shape-corner-full);
	left: 0;
	right: 0;
	z-index: 0;
	opacity: 0;
	background: var(--md-sys-color-on-surface);
	transition: opacity var(--md-sys-motion-duration-short2)
		var(--md-sys-motion-easing-legacy-accelerate) 0s;
}
@media (hover: hover) {
	paper-icon-item:hover::after {
		opacity: 0.08;
	}
}
paper-icon-item:focus-visible::after,
paper-icon-item:active::after {
	opacity: 0.1;
}
:host([expanded]) paper-icon-item:active::after {
	background: var(--sidebar-state-pressed-background);
}

/* Current destination font weight */
.iron-selected .item-text {
	font-weight: var(--md-sys-typescale-label-medium-weight-prominent);
}

/* Fix bottom divider color */
.divider {
	--divider-color: var(--md-sys-color-outline-variant);
}

/* Use error colors on rail badges */
.configuration-badge,
.notification-badge {
	color: var(--on-error-color);
	background-color: var(--error-color);
	font-weight: var(--md-sys-typescale-label-large-weight);
}

/* Use sidebar text color with no background on drawer badges */
:host([expanded]) .configuration-badge,
:host([expanded]) .notification-badge {
	color: var(--sidebar-text-color);
	background-color: transparent;
}
:host([expanded]) .iron-selected .configuration-badge,
:host([expanded]) .iron-selected .notification-badge {
	color: var(--sidebar-selected-text-color);
}

/* Fix rail sidebar badge position */
:host(:not([expanded])) .configuration-badge,
:host(:not([expanded])) .notification-badge {
	bottom: 24px;
	z-index: 2;
}
