/* Set Material Design 3 slider variables that should only apply to redesigned sliders */
:host {
	align-items: center;
	--md-slider-handle-height: 44px;
	--md-slider-handle-width: 16px;
	--md-slider-handle-shape: 4px;
}

/* Explictly resize handle and reduce width on active or focus */
.handleNub {
	height: 44px;
	width: 16px;
	border-radius: var(--md-sys-shape-corner-full);
	transition: scale var(--md-sys-motion-duration-short4)
		var(--md-sys-motion-easing-standard);
}
.hover .handleNub,
input:focus-visible ~ .handleContainerPadded .handleNub,
input:active ~ .handleContainerPadded .handleNub {
	scale: 0.5 1;
}
:host(:focus-within)
	.container
	.handleContainerPadded
	.handleContainerBlock
	:not(.hover)
	.handleNub {
	scale: 1 1;
}

.handleNub::after {
	content: '';
	position: absolute;
	inset: 0;
	width: 4px;
	height: 44px;
	margin: auto;
	background: var(--md-sys-color-primary);
	border-radius: var(--md-sys-shape-corner-full);
}
:host([disabled]) .handleNub::after {
	background: var(--md-sys-color-on-surface);
}

/* Hide focus ring */
md-focus-ring {
	display: none;
}

/* Set label width and position */
.label {
	width: var(--md-slider-label-container-width);
	translate: 0 -14px;
}

/* Remove teardrop from label */
.label::before {
	display: none;
}

/* Do not show label on focus-within if hover class is not present */
:host(:focus-within)
	.container
	.handleContainerPadded
	.handleContainerBlock
	:not(.hover)
	.label {
	transform: scale(0);
}
