/* Turn view tabs container into a full width flexbox*/
#tabsContent {
	display: var(--tabs-display, block);
	width: 100%;
	justify-content: space-evenly;
}

@media (width > 870px) {
	/* When sidebar is visible, center view icons */
	#tabsContent {
		justify-content: center;
	}
}

/* Fix visibility of not visible view scroll buttons */
.not-visible {
	display: none;
}
