/* Move toast above footer */
.mdc-snackbar {
	bottom: calc(8px + var(--footer-height) + env(safe-area-inset-bottom));
}

/* Use theme colors */
.mdc-snackbar__surface {
	background-color: var(--md-sys-color-inverse-surface);
	--mdc-theme-primary: var(--md-sys-color-inverse-primary);
}
.mdc-snackbar__label {
	color: var(--md-sys-color-inverse-on-surface);
	font-size: var(--md-sys-typescale-label-large-size);
	line-height: var(--md-sys-typescale-label-large-line-height);
	letter-spacing: var(--md-sys-typescale-label-large-tracking);
}
