/*
Fixes for this theme when used with hue-like-light-card
https://github.com/Gh61/lovelace-hue-like-light-card
*/

/* Adjust switch position */
ha-switch {
	top: 12px;
}

/* Increase margin around slider, fix handle color, fix min/max overflow */
ha-slider {
	margin: 4px 0;
	--md-slider-handle-color: var(--md-slider-inactive-track-color);
	--md-slider-end-handle-shape: var(--md-sys-shape-corner-full);
}
