/* Make header transparent and define scroll transition */
.header {
	background-color: transparent;
	pointer-events: none;
	--scroll-transition: transform var(--md-sys-motion-duration-short1)
		var(--md-sys-motion-easing-standard);
}

/* Put current view label in header title */
sl-tab[active]::before {
	content: attr(aria-label);
	text-transform: none;
	position: fixed;
	top: calc(var(--header-height) / 2);
	left: calc(50% + (var(--mdc-drawer-width, 0px) / 2));
	transform: translate(-50%, -50%);
	max-width: calc(100vw - 112px);
	overflow: hidden;
	font-size: var(--md-sys-typescale-title-large-size);
	font-weight: var(--md-sys-typescale-title-large-weight);
	line-height: var(--md-sys-typescale-title-large-line-height);
	letter-spacing: var(--md-sys-typescale-title-large-tracking);
	transition: var(--scroll-transition);
}
:host([scrolled]) sl-tab[active]::before {
	transform: translate(-50%, calc(-50% - var(--header-height)));
}
sl-tab[active]:dir(rtl)::before {
	left: calc(50% - (var(--mdc-drawer-width, 0px) / 2));
}

/* Center single tab view dashboard title */
ha-menu-button + .main-title {
	flex-grow: 0;
	text-align: center;
	width: calc(100vw - 112px);
}
@media (width > 870px) {
	ha-menu-button + .main-title {
		width: calc(100vw - 16px - var(--mdc-drawer-width, 0px));
	}
}

/* View title font */
.main-title {
	font-size: var(--md-sys-typescale-title-large-size);
	font-weight: var(--md-sys-typescale-title-large-weight);
	line-height: var(--md-sys-typescale-title-large-line-height);
	letter-spacing: var(--md-sys-typescale-title-large-tracking);
}

/*
 * Move menu and action items buttons to header
 * Add scroll transition to header buttons
 * User different color for header trailing icons
 */
.action-items {
	position: absolute;
	right: 0px;
	color: var(--app-header-edit-text-color);
}
.action-items,
ha-menu-button {
	padding: 0 4px;
}
.action-items,
.main-title,
ha-menu-button,
ha-icon-button-arrow-prev {
	transition: var(--scroll-transition);
	pointer-events: all;
}
.action-items:dir(rtl) {
	right: unset;
	left: 0px;
}

/* Hide header buttons and title if not scrolled to top  */
:host([scrolled]) ha-icon-button-arrow-prev,
:host([scrolled]) ha-menu-button,
:host([scrolled]) .main-title,
:host([scrolled]) .action-items {
	transform: translateY(calc(-1 * var(--header-height)));
}

/* Remove toolbar padding */
.toolbar {
	padding: 0;
}

/* Force hide subview tab just in case */
.hide-tab {
	display: none;
}

/* Turn view tabs into a separate footer */
sl-tab-group {
	position: fixed;
	top: unset;
	bottom: 0;
	background: var(--navbar-background);
	height: var(--footer-height);
	width: calc(100vw - var(--mdc-drawer-width, 0px));
	box-shadow: var(--md-sys-elevation-level2);
	padding-bottom: env(safe-area-inset-bottom);
	margin: 0;
	margin-inline: 0;
	pointer-events: all;
	--view-tabs-justify-content: space-evenly;
}

/* On large displays center view icons */
@media (width > 870px) {
	sl-tab-group {
		--view-tabs-justify-content: center;
	}
}

/* Make tabs full width*/
sl-tab-group::part(tabs) {
	width: 100%;
	justify-content: var(--view-tabs-justify-content, normal);
}

/*
Display view tab contents vertically and calculate width to fill entire toolbar.
*/
sl-tab {
	display: flex;
	padding: 12px 0 16px;
	flex-direction: column;
	flex: 1;
	gap: 4px;
	height: 100%;
	box-sizing: border-box;
	min-width: 72px;
	max-width: 156px;
}

/* Remove tab padding, icon justify center, and remove tap highlight color */
sl-tab::part(base) {
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
	--header-height: 0px;
}

/* Add background and color current view icon */
sl-tab ha-icon::before {
	content: '';
	position: absolute;
	height: 32px;
	width: 64px;
	border-radius: var(--md-sys-shape-corner-full);
	background: var(--md-sys-color-secondary-container);
	transition: transform var(--md-sys-motion-duration-short4)
		var(--md-sys-motion-easing-standard);
	transform: scaleX(0);
}
sl-tab[active] ha-icon::before {
	transform: scaleX(1);
}
sl-tab[active] ha-icon {
	color: var(--md-sys-color-on-secondary-container);
}

/* Prevent edit mode icon from shrinking on small width displays */
ha-svg-icon {
	min-width: 24px;
}

/* Reduce height of edit mode view icons */
sl-tab[active] .edit-icon.view {
	align-items: center;
	height: 32px;
}

/* View icon display centering */
ha-icon {
	height: 32px;
	width: 64px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

/* View icon state layers */
ha-icon::after {
	content: '';
	position: absolute;
	height: 32px;
	width: 64px;
	border-radius: var(--md-sys-shape-corner-full);
	z-index: 0;
	background: var(--md-sys-color-on-surface);
	opacity: 0;
	transition: opacity var(--md-sys-motion-duration-short2)
		var(--md-sys-motion-easing-legacy-accelerate) 0s;
}
@media (hover: hover) {
	sl-tab:hover ha-icon::after {
		opacity: 0.08;
	}
}
sl-tab:focus-visible ha-icon::after,
sl-tab:active ha-icon::after {
	opacity: 0.1;
}

/* View tabs without icons */
sl-tab:not(:has(ha-icon)) {
	text-transform: none;
	padding: 0;
}

/* View label */
sl-tab:has(ha-icon)::after {
	content: attr(aria-label);
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	font-weight: var(--md-ref-typeface-weight-medium);
	font-size: var(--md-sys-typescale-label-medium-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
	letter-spacing: var(--md-sys-typescale-label-small-tracking);
	overflow: hidden;
	height: 100%;
	color: var(--md-sys-color-on-surface-variant);
}

/* Current view label color */
sl-tab[active]::after {
	color: var(--md-sys-color-on-surface);
	font-weight: var(--md-sys-typescale-label-large-weight-prominent);
}

/* Make edit mode current view tab fit all buttons */
.edit-mode sl-tab[active] {
	min-width: fit-content;
}

/* Fix edit mode current view label position */
.edit-mode sl-tab[active]::after {
	margin-top: -2px;
}

/* Move edit mode action items back to header */
.edit-mode .action-items {
	position: static;
}

/* Style add view button to look like view buttons */
#add-view {
	position: static;
	padding: 5px 0 0;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
#add-view::after {
	content: 'Add View';
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	font-weight: var(--md-ref-typeface-weight-medium);
	font-size: var(--md-sys-typescale-label-medium-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
	letter-spacing: var(--md-sys-typescale-label-small-tracking);
	overflow: hidden;
	height: 100%;
	margin-top: -5px;
}

/* Fix edit mode menu link color */
.menu-link {
	color: var(--app-header-edit-text-color);
}

/* Fix horizontal overflow */
#view {
	overflow-x: hidden;
}

/* Add bottom footer padding when present */
.header:has(sl-tab-group) + #view {
	padding-bottom: calc(
		var(--kiosk-header-height, var(--footer-height)) +
			env(safe-area-inset-bottom)
	);
}

/* Header Cards pointer events fix */
#headerCards {
	pointer-events: all;
}
