/* Turn view tabs container into a full width flexbox*/
.tab-group__tabs {
	display: var(--tabs-display, block);
	width: 100%;
	justify-content: space-evenly;
}

@media (width > 870px) {
	/* When sidebar is visible, center view icons */
	.tab-group__tabs {
		justify-content: center;
	}
}

/* Fix visibility of not visible view scroll buttons */
.tab-group__scroll-button--start--hidden,
.tab-group__scroll-button--start--hidden {
	display: none;
}
